{% extends "base.html" %}
{% load static blogapp_tags wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags wagtailmetadata_tags %}
{% load comments comments_xtd%}
{% load i18n %}
{% block meta_tag %}
  {% meta_tags %}
{% endblock %}
{% block extra_css %}
    <!-- Theme Markdown-->
    <link rel="stylesheet" href="{% static 'css/code_theme.css' %}" />
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){

            $("#id_login_first_link").click(function(event) {
                event.preventDefault();
                $("#id_login_form").show();
            });

            $("#id_submit_login_form").click(function(event){
                event.preventDefault();

                $.ajax({
                    type:"POST",
                    url: "{% url 'account_login' %}",
                    data: $('#id_login_form').serialize(),
                    success: function(response, status){
                        $("#id_login_form").hide();
                        $("#id_login_first_link").hide();
                        location.reload();
                    },
                    error: function(xhr, status, error){
                        $('#id_login_form').submit();
                    }
                });
            });
        });
    </script>
{% endblock script %}  


{% block content %}


      <!-- Breadcrumb -->
      <section class="container pt-4 mt-lg-4" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 pt-5">
          <li class="breadcrumb-item">
            <a href="/"><i class="bx bx-home-alt fs-lg me-1"></i>Главная</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{{ page.get_parent.url }}">{% trans "Блог" %}</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page"></li>
        </ol> 
      </section>

      <!-- Post title + content  -->
      <section class="container mt-4 pt-lg-2 pb-3">
        <h1 class="pb-3" style="max-width: 970px;">{{ page.title }}</h1>
        <!-- Tag this post -->
        <!--<p class="text-muted mb-0">
            {% include "blog/components/post_tags_title.html" %}
        </p>-->
        <div class="d-flex flex-md-row flex-column align-items-md-center justify-content-md-between mb-3">
          <div class="d-flex align-items-center flex-wrap text-muted mb-md-0 mb-4">
            <div class="fs-xs border-end pe-3 me-3 mb-2">
                <!-- Category this post -->
                {% for postpage_category in page.categories.all %}
              <a href="/blog/category/{{ postpage_category.blog_category.slug }}" class="badge fs-sm text-white bg-{{ postpage_category.blog_category.color }} shadow-{{ postpage_category.blog_category.color }} text-decoration-none ">
                  {{ postpage_category.blog_category.name }}
              </a>
              {% endfor %}
            </div>
            <div class="fs-sm border-end pe-3 me-3 mb-2">{{page.last_published_at|date:"M d, Y"}}</div>
            <div class="d-flex mb-2">
              <div class="d-flex align-items-center me-3">
                <i class="bx bx-like fs-base me-1"></i>
                <span class="fs-sm">8</span>
              </div>
              <div class="d-flex align-items-center me-3">
                <i class="bx bx-comment fs-base me-1"></i>
                <span class="fs-sm">4</span>
              </div>
              <div class="d-flex align-items-center">
                <i class="bx bx-share-alt fs-base me-1"></i>
                <span class="fs-sm">2</span>
              </div>
            </div>
          </div>
          <!-- Author this post -->
          {% include "blog/components/post_author.html" %}
        </div>
      </section>

      <!-- Post image (parallax) -->
      <section class="jarallax mb-lg-5 mb-4" data-jarallax data-speed="0.35" style="height: 36.45vw; min-height: 300px;">
        {% image page.hero_image original as hero_image %}
        <div class="jarallax-img" style="background-image: url({{ hero_image.url }})"></div>
      </section>

      <!-- Post content + Sharing -->
      <section class="container mb-5 pt-4 pb-2 py-mg-4">
        <div class="row gy-4">
            <!-- Content -->
          <div class="col-lg-9">
            <!-- Blocks -->
            {% include "blog/block/streamfield.html" %}
            <a href="{{ page.get_parent.url }}">{% trans "Return to articles" %}</a>
            <!-- Tags -->
            {% post_tag_list %}
          </div>
          <!-- Sharing -->
          <div class="col-lg-3 pt-4 position-relative">
            <div class="sticky-top ms-xl-5 ms-lg-4 ps-xxl-4" style="top: 105px !important;">
              <span class="d-block mb-3">{{ page.reading_time }}</span>
              <h6>Поделиться статьей:</h6>
              <div class="mb-4 pb-lg-3">
                <a href="blog-single.html#" class="btn btn-icon btn-secondary btn-linkedin me-2 mb-2">
                  <i class="bx bxl-linkedin"></i>
                </a>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.site.ru" class="btn btn-icon btn-secondary btn-facebook me-2 mb-2">
                  <i class="bx bxl-facebook"></i>
                </a>
                <a href="blog-single.html#" class="btn btn-icon btn-secondary btn-twitter me-2 mb-2">
                  <i class="bx bxl-twitter"></i>
                </a>
                <a href="blog-single.html#" class="btn btn-icon btn-secondary btn-instagram me-2 mb-2">
                  <i class="bx bxl-instagram"></i>
                </a>
              </div>
              <button class="btn btn-lg btn-outline-secondary">
                <i class="bx bx-like me-2 lead"></i>
                Like it
                <span class="badge bg-primary shadow-primary mt-n1 ms-3">8</span>
              </button>
            </div>
          </div>
        </div>
      </section>


      <!-- Post comments -->
      <!-- Post comments -->
      <section class="container mb-4 pt-lg-4 pb-lg-3">
        <h2 class="h1 text-center text-sm-start">Комментарии</h2>
        <div class="row">

          <!-- Comments -->
          <div class="col-lg-9">
            {% render_comment_list for page %}
          </div>
        </div>
      </section>

      <!-- Comment form + Subscription -->
      <section class="container mb-4 pb-2 mb-md-5 pb-lg-5">
        <div class="row gy-5">

          <!-- Comment form -->
           {% if not request.user.is_authenticated %}
                <div id="id_comment_invite" class="container-fluid mt-4">
                    <p>{% trans "Comment on this article ("%}<a href="#" id="id_login_first_link">{% trans "sign in first" %}</a>{% trans " or confirm by name and email below)" %}</p>
                </div>
            {% endif %}
        
            {% if not request.user.is_authenticated %}
                <div class="container mt-4 ml-0">
                    <form method="POST" id="id_login_form" action="{% url 'account_login' %}" style="display: none">
                        {% csrf_token %}
                        <div class="row align-items-end">
                            <div class="col-6 form-group">
                                {% with field=login_form.login %}{% include "account/form_field.html" %}{% endwith %}
                            </div>
                            <div class="col-4 form-group">
                                {% with field=login_form.password %}{% include "account/form_field.html" %}{% endwith %}
                            </div>
                            <div class="col-2 form-group">
                                <button id="id_submit_login_form" class="btn btn-outline-primary">{% trans "Sign in" %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            {% endif %}
        
            <div class="container-fluid mt-4 comment-form">
                {% render_comment_form for page %}
            </div>
        
            {% get_comment_count for page as comment_count %}
            {% if comment_count %}
                <hr>
                <div class="container-fluid mt-4 media-list">
                    {% render_xtdcomment_tree for page allow_feedback show_feedback %}
                </div>
            {% endif %}

          <!-- Subscription form + Sharing -->
          <div class="col-lg-3 position-relative">
            <div class="sticky-top ms-xl-5 ms-lg-4 ps-xxl-4" style="top: 70px !important;">
              <div class="row gy-lg-5 gy-4 justify-content-center text-lg-start text-center">

                <!-- Subscription form -->
                <div class="col-lg-12 col-sm-7 col-11">
                  <h6 class="fs-lg">{% trans 'Понравился наш пост? Подпишитесь на нашу рассылку' %}</h6>
                  <form class="needs-validation" novalidate>
                    <div class="input-group mb-3">
                      <i class="bx bx-envelope position-absolute start-0 top-50 translate-middle-y zindex-5 ms-3 text-muted d-lg-inline-block d-none"></i>
                      <input type="email" placeholder="Your Email" class="form-control ps-lg-5 rounded text-lg-start text-center" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">{% trans 'Подписаться' %}</button>
                  </form>
                </div>

                <!-- Sharing -->
                <div class="col-lg-12 col-sm-7 col-11">
                  <h6 class="fs-lg">{% trans 'Не забудьте поделиться' %}</h6>
                  <div class="mb-4 pb-lg-3">
                    <a href="#" class="btn btn-icon btn-secondary btn-linkedin me-2 mb-2">
                      <i class="bx bxl-linkedin"></i>
                    </a>
                    <a href="#" class="btn btn-icon btn-secondary btn-facebook me-2 mb-2">
                      <i class="bx bxl-facebook"></i>
                    </a>
                    <a href="#" class="btn btn-icon btn-secondary btn-twitter me-2 mb-2">
                      <i class="bx bxl-twitter"></i>
                    </a>
                    <a href="#" class="btn btn-icon btn-secondary btn-instagram me-2 mb-2">
                      <i class="bx bxl-instagram"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      

      <!-- Related articles (Slider below lg breakpoint) -->
      <section class="container mb-5 pt-md-4">
        <div class="d-flex flex-sm-row flex-column align-items-center justify-content-between mb-4 pb-1 pb-md-3">
          <h2 class="h1 mb-sm-0">Статьи по теме</h2>
          <a href="blog-list-with-sidebar.html" class="btn btn-lg btn-outline-primary ms-4">
            Ещё статьи
            <i class="bx bx-right-arrow-alt ms-1 me-n1 lh-1 lead"></i>
          </a>
        </div>

        <div class="swiper mx-n2" data-swiper-options='{
          "slidesPerView": 1,
          "spaceBetween": 8,
          "pagination": {
            "el": ".swiper-pagination",
            "clickable": true
          },
          "breakpoints": {
            "500": {
              "slidesPerView": 2
            },
            "1000": {
              "slidesPerView": 3
            }
          }
        }'>
          <div class="swiper-wrapper">

            <!-- Item -->
            <div class="swiper-slide h-auto pb-3">
              <article class="card border-0 shadow-sm h-100 mx-2">
                <div class="position-relative">
                  <a href="blog-single.html" class="position-absolute top-0 start-0 w-100 h-100" aria-label="Read more"></a>
                  <a href="blog-single.html#" class="btn btn-icon btn-light bg-white border-white btn-sm rounded-circle position-absolute top-0 end-0 zindex-5 me-3 mt-3" data-bs-toggle="tooltip" data-bs-placement="left" title="Read later">
                    <i class="bx bx-bookmark"></i>
                  </a>
                  <img src="{% static 'img/blog/01.jpg' %}" class="card-img-top" alt="Image">
                </div>
                <div class="card-body pb-4">
                  <div class="d-flex align-items-center justify-content-between mb-3">
                    <a href="blog-single.html#" class="badge fs-sm text-nav bg-secondary text-decoration-none">Business</a>
                    <span class="fs-sm text-muted">May 19, 2021</span>
                  </div>
                  <h3 class="h5 mb-0">
                    <a href="/blog/2023/02/17/chto-takoe-loyalnost-k-brendu-i-kak-ee-postroit/">Что такое лояльность к бренду &amp; и как ее построить</a>
                  </h3>
                </div>
                <div class="card-footer py-4">
                    <a href="blog-single.html#" class="d-flex align-items-center fw-bold text-dark text-decoration-none">
                      <img src="{% static 'img/avatar/05.jpg' %}" class="rounded-circle me-3" width="48" alt="Avatar">
                      Albert Flores
                    </a>
                  </div>
              </article>
            </div>

            <!-- Item -->
            <div class="swiper-slide h-auto pb-3">
              <article class="card border-0 shadow-sm h-100 mx-2">
                <div class="position-relative">
                  <a href="blog-single.html" class="position-absolute top-0 start-0 w-100 h-100" aria-label="Read more"></a>
                  <a href="blog-single.html#" class="btn btn-icon btn-light bg-white border-white btn-sm rounded-circle position-absolute top-0 end-0 zindex-5 me-3 mt-3" data-bs-toggle="tooltip" data-bs-placement="left" title="Read later">
                    <i class="bx bx-bookmark"></i>
                  </a>
                  <img src="{% static 'img/blog/06.jpg' %}" class="card-img-top" alt="Image">
                </div>
                <div class="card-body pb-4">
                  <div class="d-flex align-items-center justify-content-between mb-3">
                    <a href="blog-single.html#" class="badge fs-sm text-nav bg-secondary text-decoration-none">Marketing</a>
                    <span class="fs-sm text-muted">Apr 2, 2021</span>
                  </div>
                  <h3 class="h5 mb-0">
                    <a href="blog-single.html">How Agile is Your Forecasting Process?</a>
                  </h3>
                </div>
                <div class="card-footer py-4">
                  <a href="blog-single.html#" class="d-flex align-items-center fw-bold text-dark text-decoration-none">
                    <img src="{% static 'img/avatar/05.jpg' %}" class="rounded-circle me-3" width="48" alt="Avatar">
                    Albert Flores
                  </a>
                </div>
              </article>
            </div>

            <!-- Item -->
            <div class="swiper-slide h-auto pb-3">
              <article class="card border-0 shadow-sm h-100 mx-2">
                <div class="position-relative">
                  <a href="blog-single.html" class="position-absolute top-0 start-0 w-100 h-100" aria-label="Read more"></a>
                  <a href="blog-single.html#" class="btn btn-icon btn-light bg-white border-white btn-sm rounded-circle position-absolute top-0 end-0 zindex-5 me-3 mt-3" data-bs-toggle="tooltip" data-bs-placement="left" title="Read later">
                    <i class="bx bx-bookmark"></i>
                  </a>
                  <img src="{% static 'img/blog/03.jpg' %}" class="card-img-top" alt="Image">
                </div>
                <div class="card-body pb-4">
                  <div class="d-flex align-items-center justify-content-between mb-3">
                    <a href="blog-single.html#" class="badge fs-sm text-nav bg-secondary text-decoration-none">Business</a>
                    <span class="fs-sm text-muted">Sep 16, 2021</span>
                  </div>
                  <h3 class="h5 mb-0">
                    <a href="blog-single.html">This Week Comment form + Subscription
                  <a href="blog-single.html#" class="d-flex align-items-center fw-bold text-dark text-decoration-none">
                    <img src="{% static 'img/avatar/02.jpg' %}" class="rounded-circle me-3" width="48" alt="Avatar">
                    Ralph Edwards
                  </a>
                </div>
              </article>
            </div>
          </div>

          <!-- Pagination (bullets) -->
          <div class="swiper-pagination position-relative pt-2 pt-sm-3 mt-4"></div>
        </div>
      </section>

      {% include "includes/footer.html" %}
{% endblock %}



