from slides.settings.dev import *   # noqa

DEBUG
DJANGO_SECRET_KEY
DJANGO_SECURE_SSL_REDIRECT
DJANGO_ALLOWED_HOSTS

AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY
AWS_REGION
ELASTICSEARCH_ENDPOINT
ELASTICSEARCH_PORT
ELASTICSEARCH_USE_SSL
ELASTICSEARCH_VERIFY_CERTS
AWS_SESSION_TOKEN
AWS_STORAGE_BUCKET_NAME
GS_BUCKET_NAME
GS_PROJECT_ID
DJANGO_LOG_LEVEL

ROOT_URLCONF 
