                <!-- Follow Us -->
                <div class="card mb-4">
                    <div class="card-body">
                      <h5 class="mb-4">Присоединяйтесь к нам</h5>
                      <a href="blog-list-with-sidebar.html#" class="btn btn-icon btn-sm btn-secondary btn-linkedin me-2 mb-2">
                        <i class="bx bxl-linkedin"></i>
                      </a>
                      <a href="blog-list-with-sidebar.html#" class="btn btn-icon btn-sm btn-secondary btn-facebook me-2 mb-2">
                        <i class="bx bxl-facebook"></i>
                      </a>
                      <a href="blog-list-with-sidebar.html#" class="btn btn-icon btn-sm btn-secondary btn-twitter me-2 mb-2">
                        <i class="bx bxl-twitter"></i>
                      </a>
                      <a href="blog-list-with-sidebar.html#" class="btn btn-icon btn-sm btn-secondary btn-instagram me-2 mb-2">
                        <i class="bx bxl-instagram"></i>
                      </a>
                    </div>
                  </div>