<div class="d-flex align-items-center text-muted">
    <div class="fs-sm border-end pe-3 me-3">{{post.last_published_at|date:"M d, Y"}}</div>
    <div class="d-flex align-items-center me-3">
      <i class="bx bx-like fs-lg me-1"></i>
      <span class="fs-sm">5</span>
    </div>
    <div class="d-flex align-items-center me-3">
      <i class="bx bx-comment fs-lg me-1"></i>
      <span class="fs-sm">0</span>
    </div>
    <div class="d-flex align-items-center">
      <i class="bx bx-share-alt fs-lg me-1"></i>
      <span class="fs-sm">2</span>
    </div>
  </div>