                <!-- Popular posts -->
                <div class="card card-body border-0 position-relative mb-4">
                    <span class="position-absolute top-0 start-0 w-100 h-100 bg-gradient-primary opacity-10 rounded-3"></span>
                    <div class="position-relative zindex-2">
                      <h3 class="h5">Популярные статьи</h3>
                      <ul class="list-unstyled mb-0">
                        <li class="border-bottom pb-3 mb-3">
                          <h4 class="h6 mb-2">
                            <a href="blog-list-with-sidebar.html#">5 Bad Landing Page Examples &amp; How We Would Fix Them</a>
                          </h4>
                          <div class="d-flex align-items-center text-muted pt-1">
                            <div class="fs-xs border-end pe-3 me-3">12 hours ago</div>
                            <div class="d-flex align-items-center me-3">
                              <i class="bx bx-like fs-base me-1"></i>
                              <span class="fs-xs">8</span>
                            </div>
                            <div class="d-flex align-items-center me-3">
                              <i class="bx bx-comment fs-base me-1"></i>
                              <span class="fs-xs">4</span>
                            </div>
                            <div class="d-flex align-items-center">
                              <i class="bx bx-share-alt fs-base me-1"></i>
                              <span class="fs-xs">2</span>
                            </div>
                          </div>
                        </li>
                        <li class="border-bottom pb-3 mb-3">
                          <h4 class="h6 mb-2">
                            <a href="blog-list-with-sidebar.html#">How Agile is Your Forecasting Process?</a>
                          </h4>
                          <div class="d-flex align-items-center text-muted pt-1">
                            <div class="fs-xs border-end pe-3 me-3">Oct 9, 2021</div>
                            <div class="d-flex align-items-center me-3">
                              <i class="bx bx-like fs-base me-1"></i>
                              <span class="fs-xs">4</span>
                            </div>
                            <div class="d-flex align-items-center me-3">
                              <i class="bx bx-comment fs-base me-1"></i>
                              <span class="fs-xs">1</span>
                            </div>
                            <div class="d-flex align-items-center">
                              <i class="bx bx-share-alt fs-base me-1"></i>
                              <span class="fs-xs">0</span>
                            </div>
                          </div>
                        </li>
                        <li>
                          <h4 class="h6 mb-2">
                            <a href="blog-list-with-sidebar.html#">Inclusive Marketing: Why and How Does it Work?</a>
                          </h4>
                          <div class="d-flex align-items-center text-muted pt-1">
                            <div class="fs-xs border-end pe-3 me-3">Sep 13, 2021</div>
                            <div class="d-flex align-items-center me-3">
                              <i class="bx bx-like fs-base me-1"></i>
                              <span class="fs-xs">5</span>
                            </div>
                            <div class="d-flex align-items-center me-3">
                              <i class="bx bx-comment fs-base me-1"></i>
                              <span class="fs-xs">2</span>
                            </div>
                            <div class="d-flex align-items-center">
                              <i class="bx bx-share-alt fs-base me-1"></i>
                              <span class="fs-xs">4</span>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>