{% load static wagtailimages_tags %}

    <!-- Footer -->
    <footer class="footer pt-5 pb-4 pb-lg-5">
        <div class="container text-center pt-lg-3">
          <div class="navbar-brand justify-content-center text-dark mb-2 mb-lg-4">
            <img src="{% static 'img/logo.svg' %}" class="me-2" width="60" alt="Silicon">
            <span class="fs-4">Slides</span>
          </div>
          <ul class="nav justify-content-center pt-3 pb-4 pb-lg-5">
            <li class="nav-item"><a href="#" class="nav-link">Главная</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Портфолио</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Инфографика</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Блог</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Контакты</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Как мы работаем</a></li>
          </ul>
          <div class="d-flex justify-content-center pt-4 mt-lg-3">
            <a href="#" class="btn btn-icon btn-secondary btn-facebook mx-2">
              <i class="bx bxl-facebook"></i>
            </a>
            <a href="#" class="btn btn-icon btn-secondary btn-instagram mx-2">
              <i class="bx bxl-instagram"></i>
            </a>
            <a href="#" class="btn btn-icon btn-secondary btn-twitter mx-2">
              <i class="bx bxl-twitter"></i>
            </a>
            <a href="#" class="btn btn-icon btn-secondary btn-youtube mx-2">
              <i class="bx bxl-youtube"></i>
            </a>
          </div>
          <p class="nav d-block fs-sm text-center pt-5 mt-lg-4 mb-0">
            <span class="opacity-80">&copy;2022 © Все права защищены </span>
          </p>
        </div>
      </footer>
